main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}

.card-container {
    display: flex;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: hsla(0, 0%, 100%, 0.75);
}

.sedans {
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}

.luxury button {
    color: hsl(179, 100%, 13%);
}

.sedans button {
    color: hsl(31, 77%, 52%) ;
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 45%, 44%);
    font-size: 14px;
    font-weight: 700;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    border: none;
}

.attribution {
    margin-top: 10%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}